body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e7870a;
}
.titulo{
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.bloco {
    background: white;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid rgb(31, 31, 31);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
}

.profile-info {
    margin-bottom: 20px;
    text-align: left;
}

.profile-info p {
    margin: 5px 0;
}

input[type="file"] {
    margin-bottom: 20px;
}

.btn {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.3s;
    width: 100%;
}

.btn:hover {
    background-color: #0056b3;
}

.image-preview {
    margin-top: 20px;
}

img {
    max-width: 50%;
    border-radius: 8px;
    border: 1px solid rgb(31, 31, 31);
    margin-bottom: 10px;
}