body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

h1.titulo{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 10px;
    background-color: rgb(41, 41, 41);
    color: white;
}


#posicionarConstrucao {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
}

#map {
    width: 100%;
    height: 90vh;
}

/* Adicionar estilos para o botão personalizado */
.leaflet-control .btn-posicionar-construcao {
    width: 38px;
    height: 38px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.leaflet-control .btn-posicionar-construcao:hover {
    border-color: #888;
}


